.alert-chat-message-even {
   color: #FFFFFF;
   background-color: #60ad8c;
   border-color: #60ad8c;
}

.alert-chat-message-odd {
   color: #FFFFFF;
   background-color: #4b9675;
   border-color: #4b9675;
}