.alert-chat-message-even {
   color: #FFFFFF;
   background-color: #56c452;
   border-color: #56c452;
}

.alert-chat-message-odd {
   color: #FFFFFF;
   background-color: #51A351;
   border-color: #51A351;
}