.alert-chat-message-even {
   color: #FFFFFF;
   background-color: #5fbf91;
   border-color: #5fbf91;
}

.alert-chat-message-odd {
   color: #FFFFFF;
   background-color: #479f73;
   border-color: #479f73;
}